/********* FONTES *********/
@font-face {
  font-family: 'Roboto-Thin';
  src: url("../fonts/Roboto-Thin.ttf"); }
@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto-Light.ttf"); }
@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto-Bold.ttf"); }
@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium.ttf"); }
/********* CORES SASS *********/
.btn-primary {
  background: #3498db; }

.btn-circular {
  border: 2px solid #3498db;
  border-radius: 30px;
  padding: .75rem 1.75rem .75rem 1.75rem; }
  .btn-circular:hover {
    -webkit-transition: 0.2s ease-in all;
    -moz-transition: 0.2s ease-in all;
    -o-transition: 0.2s ease-in all;
    transition: 0.2s ease-in all;
    background: #2980b9;
    border-color: #2980b9; }

/********* GERAL *********/
* {
  font-family: "Roboto-Light", sans-serif; }

html {
  font-size: 16px; }

body {
  color: #333; }

h2 {
  margin: 0;
  padding: 0; }

h3 {
  font-size: 1.3rem; }

main#servicos,
section#time,
section#clientes,
section#newsletter {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.servicos-titulo {
  font-family: "Roboto-Medium", sans-serif; }

.bg-clouds {
  background: #ecf0f1; }

/********* HEADER/NAV *********/
.navbar {
  background: #053d4e;
  border-radius: 0;
  padding: 1rem;
  margin-bottom: 0; }

#menu-mobile {
  border: 1px solid #2980b9;
  background: #2980b9; }
  #menu-mobile span {
    background: #ecf0f1; }
  #menu-mobile:hover {
    background: #053d4e; }

.navbar-brand {
  padding: .25rem; }

ul.nav-menu li a {
  margin-right: 2rem;
  border-bottom: 2px solid #053d4e; }
  ul.nav-menu li a:hover {
    background: #053d4e;
    border-bottom: 2px solid #3498db;
    -webkit-transition: 0.2s ease-in all;
    -moz-transition: 0.2s ease-in all;
    -o-transition: 0.2s ease-in all;
    transition: 0.2s ease-in all; }

ul.nav-menu li a:hover {
  background: #053d4e; }

ul.nav-menu li a {
  font-size: 1rem;
  color: #ecf0f1; }

.anime span {
  position: relative;
  left: .4rem; }

.anime:hover span {
  left: 0;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all; }

.anime i {
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
  opacity: 0; }

.anime:hover i {
  display: inline-block;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all; }

/********* CARROUSSEL *********/
.carousel-conteudo {
  padding-top: 12rem;
  color: #fff; }

.carousel-inner .item {
  height: 100vh; }
  .carousel-inner .item:first-child {
    background-image: url("../img/banner1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .carousel-inner .item:last-child {
    background-image: url("../img/banner2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }

.titulo-principal {
  font-size: 2.75rem;
  font-family: "Roboto-Medium", sans-serif;
  text-transform: uppercase; }

.descricao-principal {
  font-family: "Roboto-Thin", sans-serif;
  padding-top: 1rem;
  margin-bottom: 3rem;
  font-size: 1.25rem;
  line-height: 1.6; }

/********* MAIN *********/
#servicos {
  margin-bottom: 3rem; }
  #servicos i {
    background: #3498db;
    font-size: 2rem;
    color: #fff;
    /*padding-left: 1.3rem;
    padding-top: 1rem;*/
    padding-left: 32%;
    padding-top: 30%;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%; }
  #servicos h4.servicos-descricao {
    font-size: 1rem;
    line-height: 1.5;
    color: #95a5a6; }

.titulo-secao {
  text-transform: uppercase;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 1.75rem;
  margin-bottom: 2.5rem;
  margin-top: 0; }

.titulo-secao::after {
  content: "";
  display: block;
  height: 4px;
  width: 120px;
  background: #2980b9;
  margin: 1rem auto 2rem auto;
  border-radius: 10px; }

.descricao-secao {
  font-size: 1.1rem;
  color: #95a5a6;
  line-height: 1.5;
  margin: 0 auto;
  margin-bottom: 4rem;
  max-width: 90%; }

/********* MAIN *********/
.time-integrante img {
  border: 8px solid #fff; }
.time-integrante h3.time-titulo {
  font-family: "Roboto-Medium", sans-serif;
  margin-bottom: 0px; }
.time-integrante h4.time-descricao {
  font-family: "Roboto-Thin", sans-serif;
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #95a5a6;
  font-family: "Roboto-Medium", sans-serif; }
.time-integrante a i.fa {
  background: #3498db;
  color: #ecf0f1;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding-top: .7rem;
  font-size: 1.25rem; }
  .time-integrante a i.fa:hover {
    background: #2980b9;
    -webkit-transition: 0.2s ease-in all;
    -moz-transition: 0.2s ease-in all;
    -o-transition: 0.2s ease-in all;
    transition: 0.2s ease-in all; }

@media only screen and (min-width: 992px) and (max-width: 1999px) {
  #servicos i {
    padding-top: 1rem;
    padding-left: 1.2rem; } }
@media only screen and (max-width: 767px) {
  main div:first-child + div.center-xs {
    margin-top: inherit; }

  main div > div.center-xs {
    margin-top: 4rem; }

  .center-xs {
    text-align: center; }

  #servicos i {
    width: 6rem;
    height: 6rem;
    padding: 0;
    padding-top: 2rem; } }
@media only screen and (max-width: 992px) {
  section#time div.container div.row > div.time-integrante {
    margin-top: 4rem; } }
/********* NEWSLETTER *********/
@media screen and (max-width: 992px) {
  .cliente-logo {
    margin-bottom: 4rem; } }
/********* NEWSLETTER *********/
#newsletter {
  background: #053d4e;
  color: #ecf0f1; }
  #newsletter .newsletter-secao h3 {
    margin: 0;
    text-transform: uppercase;
    color: #3498db;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 1rem; }
  #newsletter .newsletter-secao ul.newsletter-mapa {
    padding-left: 0;
    margin-top: 1rem;
    line-height: 2; }
    #newsletter .newsletter-secao ul.newsletter-mapa li {
      list-style: none;
      color: #95a5a6; }
      #newsletter .newsletter-secao ul.newsletter-mapa li :hover {
        margin-left: 1rem;
        color: #ecf0f1;
        -webkit-transition: 0.2s ease-in all;
        -moz-transition: 0.2s ease-in all;
        -o-transition: 0.2s ease-in all;
        transition: 0.2s ease-in all; }
      #newsletter .newsletter-secao ul.newsletter-mapa li a {
        color: #ecf0f1; }
        #newsletter .newsletter-secao ul.newsletter-mapa li a i {
          font-size: .7rem; }

h1.titulo-newsletter {
  color: #ecf0f1; }

.newsletter-item h3 {
  margin-top: 0; }
.newsletter-item h4 {
  font-size: .95rem; }
.newsletter-item h5 {
  font-size: .75rem;
  line-height: 1.5; }

.form-newsletter input.newsletter-input {
  background: #fff;
  color: #95a5a6;
  height: 3rem;
  width: 18rem;
  border-radius: 30px;
  border-color: #3498db;
  border: none;
  padding-left: 2rem;
  padding-right: 2rem;
  font-style: italic; }
.form-newsletter input.newsletter-input:active {
  box-shadow: none;
  -moz-box-shadow: none; }

@media only screen and (max-width: 992px) {
  .form-newsletter {
    text-align: center; }

  .newsletter-secao + div {
    padding-top: 3rem; }

  .newsletter-secao {
    text-align: center; } }
@media only screen and (max-width: 768px) {
  .form-newsletter input.newsletter-input {
    width: 100%; }

  .form-newsletter button {
    width: 100%; } }
/********* FOOTER *********/
footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: .75rem;
  background: #ecf0f1;
  color: #333;
  font-family: "Roboto-Medium", sans-serif; }

.redes-sociais > a > i.fa {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding-top: .7rem;
  font-size: 1.25rem;
  background: #3498db;
  color: #ecf0f1; }
  .redes-sociais > a > i.fa:hover {
    background: #2980b9;
    -webkit-transition: 0.2s ease-in all;
    -moz-transition: 0.2s ease-in all;
    -o-transition: 0.2s ease-in all;
    transition: 0.2s ease-in all; }

.dev {
  font-style: italic; }

@media only screen and (max-width: 768px) {
  .text-xs-center {
    text-align: center; }

  .redes-sociais {
    margin-top: 2rem;
    text-align: center; } }
/********* BOTAO VOLTAR TOPO *********/
a[href="#top"] {
  color: #3498db;
  padding: 1rem;
  right: 1rem;
  position: fixed;
  top: 90%;
  display: none;
  font-size: 2rem;
  text-decoration: none; }

a[href="#top"]:hover {
  color: #2980b9;
  -webkit-transform: translateY(-1.5rem);
  transform: translateY(-1.5rem);
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all; }

/*# sourceMappingURL=estilo.css.map */
